.display {
    align-items: center;
    background-color: whitesmoke;
    border: 5px solid black; 
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 300px;
}

.display-time {
    border: none;
    background-color:whitesmoke;
    color: blueviolet;
    font-size: 46px;
    font-weight: 600;
    outline-width: 0;
    text-align: center;
    vertical-align: middle;    
    width: 300px;
}